<html>
  <head>
    <title>DMinion - Character (<%= name %>)</title>

    <link rel="stylesheet" href="../css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/character.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/character_details.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../css/character_skills.css" type="text/css" media="screen" />

    <script type="text/javascript">
      var host = "<%= socket_host %>";
    </script>
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.2.custom.js"></script>
    <script type="text/javascript" src="/js/character.js"></script>
  </head>
  <body>
    <input type="hidden" id="character_name" name="character_name" value="<%= name %>" />
    <div id="main">
      <h2>Character: <%= name %></h2>
      <div id="details" class="panel">
        <%= details_panel %>
      </div>
      <div id="skills" class="panel">
        <%= skills_panel %>
      </div>
    </div>
  </body>
</html>
