<div id="health" class="stat_panel">
	<dl>
	  <dt>Level</dt>
	  <dd id="level"><%= level %></dd>
	  <dt>Race</dt>
	  <dd id="race"><%= race %></dd>
	  <dt>Class</dt>
	  <dd id="role"><%= role %></dd>
	  <dt>Hit Points</dt>
	  <dd id="hp_total" class="whole"><%= hp_total %></dd>
	  <dd id="hp_current" class="part"><%= hp_current %></dd>
	  <dt>Temp HP</dt>
	  <dd id="hp_temp" class="whole"><%= hp_temp %></dd>
	  <dt>Surge</dt>
	  <dd id="surge_total" class="whole"><%= surge_total %></dd>
	  <dd id="surge_current" class="part"><%= surge_current %></dd>
	  <dt>Surge Value:</dt>
	  <dd id="surge_value"><%= surge_value %></dd>
	  <dt>Action Points:</dt>
	  <dd id="action_points"><%= action_points %></dd>
	</dl>
</div>
<div id="save" class="stat_panel">
	<dt>AC</dt>
	<dd id="ac"><%= ac %></dd>
	<dt>Fortitude</dt>
	<dd id="fort"><%= fort %></dd>
	<dt>Reflex:</dt>
	<dd id="reflex"><%= reflex %></dd>
	<dt>Will:</dt>
	<dd id="will"><%= will %></dd>
</div>
<div id="stats" class="stat_panel">
	<dt class="str">Str</dt>
	<dd id="str" class="str"><%= str %></dd>
	<dt class="con">Con</dt>
	<dd id="con" class="con"><%= con %></dd>
	<dt class="dex">Dex:</dt>
	<dd id="dex" class="dex"><%= dex %></dd>
	<dt class="int">Int:</dt>
	<dd id="int" class="int"><%= int %></dd>
	<dt class="wis">Wis:</dt>
	<dd id="wis" class="wis"><%= wis %></dd>
	<dt class="cha">Cha:</dt>
	<dd id="cha" class="cha"><%= cha %></dd>
</div>
<div id="passive" class="stat_panel">
	<dt>Initiative</dt>
	<dd id="initiative"><%= initiative %></dd>
	<dt>Speed</dt>
	<dd id="speed"><%= speed %></dd>
	<dt>P Perception:</dt>
	<dd id="p_perception"><%= p_perception %></dd>
	<dt>P Insight:</dt>
	<dd id="p_insight"><%= p_insight %></dd>
</div>
