<html>
  <head>
    <title>DMinion - DM</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/sprites.css" type="text/css" media="screen" />
    <script type="text/javascript">
      var host = "<%= socket_host %>";
    </script>
    <script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.2.custom.js"></script>
    <script type="text/javascript" src="/js/dm.js"></script>
    <script type="text/javascript" src="/js/graphs.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="sound"> </div>

      <div id="left_panel" class="screen_panel"> &nbsp; </div>
      <h1>DM</h1>
      <div id="right_panel" class="screen_panel"> &nbsp; </div>
      <form method="POST" id="action_form" action="#">
        <label>Action Log</label>
        <input type="img" id="action_log" name="action_log" value="" />
        <button>&gt;</button>
      </form>
      <div class="subset">
        <div id="party" class="panel">
          <label>Party</label>
          <table>
            <tr>
              <th>&nbsp;</th>
              <th>I</th>
              <th>Name</th>
              <th>HP</th>
              <th>MAX</th>
              <th>Turn</th>
              <th>Actions</th>
            </tr>
            <% characters.each do |character| %>
            <%= character %>
            <% end %>
          </table>
        </div>

        <div id="turn" class="panel">
          <%= turn %>
        </div>

        <div id="legend" class="panel">
          <dl>
            <dt>C-n</dt>
            <dd>Next Turn</dd>
            <dt>C-<1-9></dt>
            <dd>Toggle Target Selection <1-9></dd>
            <dt>C-0</dt>
            <dd>Clear All Targets</dd>
            <dt>C-h</dt>
            <dd>Heal Selected Targets</dd>
            <dt>C-d</dt>
            <dd>Damage Selected Targets</dd>
          </dl>
        </div>
      </div>
      <div class="subset">
        <div id="action">
          <%= action %>
        </div>
        <div id="resolution">
          <%= resolution %>
        </div>
      </div>
    </div>
  </body>
</html>
